// define global variables here
$headings-font-family: 'Open Sans', sans-serif;
$headings-font-weight: 600;
$headings-color: #6B6B6B;
$font-size-base: 16px;
$sticky_footer_height: 70px;
$textColor: #444444;
$font-family-base: 'Open Sans', sans-serif;

$padding: 10px;
$blue: #1A84BF;
$light-blue: #1AA5C7;
$gray: #1B515E;
$textgray: #444444;