// define global variables here
$headings-font-family: 'Roboto', sans-serif;
$headings-font-weight: 300;
$headings-color: #333333;
$font-size-base: 15px;
$sticky_footer_height: 70px;
$textColor: #444444;
$font-family-base: 'Roboto', sans-serif;

$padding: 10px;
$blue: #1A84BF;
$light-blue: #1AA5C7;
$gray: #1B515E;
$textgray: #444444;