<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Name: <%= @email[:name] %></p>
		<p>Email: <%= @email[:email] %></p>
		<p>Phone: <%= @email[:phone] %></p>
		<p>Message: <%= @email[:message] %></p>
	</body>
</html>